#buttonSubmit {
	text-align: center;
}

#saleAmounts {
	text-align: center;
}

#logo {
	text-align: center;
}

#quarters {
	text-align: center;
}

.col-12 {
	margin: 10px 0 0 0;
}

#totalDollars {
	text-align: center;
}

#totalQuarters {
	text-align: center;
}

#totalDimes {
	text-align: center;
}

#totalNickels {
	text-align: center;
}

#totalPennies {
	text-align: center;
}